<div class="container">
    <div class="row d-flex justify-content-center">
     <div class="col-sm-12 col-md-8 col-lg-5">
      <div class="main-profile">
       <div class="profile-background">
        <ul class="social-links">
         <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
       </div>
       <div class="profile-header">
        <img src={{myChannel[0]?.thumbnailUrl}} alt="Your name">
        <h1>{{myChannel[0]?.channelTitle}}</h1>
        <a class="twitter-handle" href="#">{{myChannel[0]?.channelId}}</a>
   
   
       </div>
       <div class="profile-body">
        <p>{{myChannel[0]?.description}}</p>
        <div class="subscribe-btn">
         <a href="#" class="btn-primary">Subscribe</a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>